jupyter
voila

neo4j
pandas
xmltodict
NumPy
networkx

# blue brain nexus
nexus-sdk

# Allen sdk and dependencies
#allensdk

SciPy
matplotlib
#h5py

#pynrrd
#Jinja2

# BAMS2 connectivity
requests
beautifulsoup4


# secrets
python-dotenv